:host {
    width: 100%;

    .operation-header {
        font-size: 22px;
        letter-spacing: 1px;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .operations-container {

        display: flex;
        flex-direction: column;
        align-items: center;
        .operations-bar {
            width: 20%;
            min-width: 200px;
            .operation-container {
                display: flex;
                width: 100%;
                flex-direction: column;
                align-items: center;
        
                .operation-button {
        
                    padding: 10px;
                    background-color: rgb(230, 230, 230);
                    color: black;
                    width: 100%;
                    margin-bottom: 15px;
                    border-radius: 5px;
                    transition: 0.2s;
                    font-weight: bold;
                    letter-spacing: 1px;
                    cursor: pointer;

                    box-shadow: 0px 1px 5px rgba(255, 255, 255, 0.911);

                    &:hover {
                        background-color: rgba(218, 5, 51, 0.911);
                        box-shadow: 0px 1px 10px rgba(218, 5, 51, 0.911);
                        color: white;
                    }

                    &:active {
                        opacity: 0.7;
                    }
    
                }

                .active {
                    background-color: rgba(218, 5, 51, 0.911);
                    box-shadow: 0px 1px 10px rgba(218, 5, 51, 0.911);
                    color: white;
                }
            }
        }

        .operation-description {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 20px;
            margin-bottom: 15px;

            .description-header {
                font-size: 22px;
                letter-spacing: 1px;
                margin-bottom: 20px;
            }

            .description-text {
                font-size: 18px;
                text-align: center;
            }
        }

        .input-form {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 350px;
            .input-header {
                font-size: 22px;
                letter-spacing: 1px;
                margin-bottom: 20px;
                text-align: center;
            }

            .form-group {

                width: 100%;
                .label-input-container {
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    font-size: large;
                    width: 100%;
                    margin-bottom: 30px;
                    margin-top: 10px;
                    text-wrap: nowrap;
    
                    input, select {
                        width: 165px;
                        box-sizing: border-box;
                        border: none;
                        border-radius: 10px;
                        font-size: medium;
                    }
    
                    select {
                        overflow-y: auto;
                    }
    
                    label {
                        display: block;
                        width: 130px;
                    }
                }
            }

            
        }

        .perform-button {
            width: 200px;
            padding: 10px;
            margin-bottom: 30px;
            margin-top: 10px;
            border: 2px solid white;
            color: #ffffff;
            cursor: pointer;
            transition: 0.3s;
            box-shadow: 0px 5px 20px rgba(255, 255, 255, 0.5);
            font-size: medium;
            letter-spacing: 1.5px;
            &:hover {
                background-color: rgba(177, 3, 40, 0.911)  ;
                box-shadow: 0px 5px 20px rgba(177, 3, 40, 0.911);
            }
            &:active {
                opacity: 0.5;
            }
        }

        button[disabled] {
            opacity: 0.5;
            &:hover {
                background-color: #333333;
            }
        }

        .results-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 50%;
            min-width: 350px;

            .results-header {
                font-size: 22px;
                letter-spacing: 1px;
                margin-bottom: 20px;
            }

            .results-wrapper {
                width: 100%;
                background-color: black;
                color: white;
                padding: 20px 10px;
                border-radius: 2px;
                text-wrap: wrap;
                line-height: 30px;
                letter-spacing: 1px;
            }

            span {
                margin-right: 15px;
            }
        }
    }
}
