<div class="password-reset-wrapper">
    <div class="password-reset-container">
        @if (token == null) {
            <div class="password-reset-header">Password Reset</div>
            <div class="password-reset-hint">Enter your account email.</div>
            <form [formGroup]="emailForm" (submit)="forgotPassword()" class="password-reset-form">
                <div class="label-input">
                    <label for="email">Email</label>
                    <input id="email" type="email" formControlName="email"/>
                    @if (emailForm.get('email')?.invalid && emailForm.get('email')?.touched) {
                        <div class="form-error"><i>Email required.</i></div>
                    } @else {
                        <div class="form-error"></div>
                    }   
                </div>
                <input type="submit" value="Send Reset">
            </form>
            <div class="submit-message" [ngClass]="resetSended ? 'succes' : 'error'">{{ resultMessage }}</div>
        } @else {
            <div class="password-reset-header">Password Reset</div>
            <div class="password-reset-hint">Enter your new password.</div>
            <form [formGroup]="passwordForm" (submit)="resetPassword()" class="password-reset-form">
                <div class="label-input">
                    <label for="password">Password</label>
                    <input id="password" type="password" formControlName="password"/>
                    @if (passwordForm.get('password')?.invalid && emailForm.get('password')?.touched) {
                        <div class="form-error"><i>Password must be at least 6 symbols.</i></div>
                    } @else {
                        <div class="form-error"></div>
                    }   
                </div>
                <input type="submit" value="Reset">
            </form>
            <div class="submit-message" [ngClass]="resetSended ? 'succes' : 'error'">{{ resultMessage }}</div>
        }
    </div>
</div>
