.password-reset-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

    .password-reset-container {
        background-color: #1f1f1f;
        padding: 20px;
        width: 300px;
        border-radius: 10px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);

        .password-reset-header {
            font-size: 22px;
            letter-spacing: 1.5px;
            margin-bottom: 15px;
        }

        .password-reset-hint {
            font-size: 18px;
            margin-bottom: 15px;
        }

        .password-reset-form {

            .label-input {

                label {
                    margin-right: 15px;
                }

                input {
                    width: 200px;
                    padding: 4px;
                    margin: 8px 0;
                    border: none;
                    border-radius: 10px;
                    font-size: medium;
                }

                .form-error {
                    display: flex;
                    color: rgb(252, 53, 53);
                    height: 18px;
                    justify-content: center;
                    text-align: center;
                    white-space: nowrap;
                }

                margin-bottom: 5px;
            }

            input[type=submit] {
                width: 100%;
                padding: 10px;
                margin-bottom: 10px;
                margin-top: 5px;
                border: 2px solid white;
                color: #ffffff;
                cursor: pointer;
                transition: 0.3s;
                box-shadow: 0px 1px 5px white;
                font-size: medium;
                letter-spacing: 1.5px;
                background-color: #1f1f1f;
                &:hover {
                    background-color: rgba(177, 3, 40, 0.911)  ;
                    box-shadow: 0px 5px 20px rgba(177, 3, 40, 0.911);
                }
                &:active {
                    opacity: 0.5;
                }
            }

        }
    }
}